p{
  color: #424247;
}

h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

h1{
    color: black;
}

body {
  font-family: "Manrope", sans-serif;
}
.Button-1 {
  padding: 12px 20px;
  border-radius: 8px;
  background: #ff4240;
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
}
