p{
  color: #424247;
}

h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

h1{
    color: black;
}

body {
  font-family: "Manrope", sans-serif;
}
.Button-1 {
  padding: 12px 20px;
  border-radius: 8px;
  background: #ff4240;
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
}
.Button-2 {
  padding: 7px 15px;
  border-radius: 8px;
  background: #ff4240;
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
}

.cbb{ 
  border-bottom: 1px dashed rgba(19, 19, 24, 0.20);
}
.cbt{
  border-top: 1px dashed rgba(19, 19, 24, 0.20);
}
.items-left{
  align-items: left;
}
.b-line{
  border-radius: none;
  border-bottom: 1px solid rgba(19, 19, 24, 0.20);
}